Host swarm-manager
  Hostname swarm-manager
  User docker
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
 
Host swarm-worker-2
  Hostname swarm-worker-2
  User docker
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
 
Host swarm-worker-3
  Hostname swarm-worker-3
  User docker
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
