---
- name: Add Workers to the Swarm
  docker_swarm:
    state: join
    advertise_addr: "{{ hostvars['swarm-manager']['ansible_default_ipv4']['address'] }}"
    join_token: "{{ hostvars['swarm-manager']['worker_token']['stdout'] }}"
    remote_addrs: [ "{{ hostvars['swarm-manager']['ansible_default_ipv4']['address'] }}:2377" ]
  tags: swarm
